.App {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #282c34;
    height: 100vh;
    overflow: hidden;
}

.App > div {
    flex: 1;
}

.App > div:first-child {
    border-bottom: 2px solid #373c44;
    padding-top: 20px;
}
